<% include('../layouts/header.ejs')  %>

<img src="userImages/<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>">

<form action="" method="POST" enctype="multipart/form-data"> 

    <input type="file" name="image">
    <input type="hidden" name="user_id" value="<%=user._id %>">
    <br>
<label>name</label><br>
<input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
<br>
<label>email</label><br>
<input type="email" name="email" value="<%= user.email %>" placeholder="Enter email" required>
<br>
<label>mobile</label><br>
<input type="text" name="mobile" value="<%= user.mobile %>" placeholder="Enter Mobile" required>
<br>

<input type="submit" value="Update profile">
</form>


<% include('../layouts/footer.ejs')  %>